<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Ftp.New.BusinessLogic" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>
  
  <Ftp.BusinessLogic defaultAssembly="Ftp.New.BusinessLogic">
    <components>
      <component type="Ftp.New.BusinessLogic.Implementation.DownLoadWholeBl, Ftp.New.BusinessLogic" service="Ftp.New.BusinessLogic._Interface.IDownLoadBl" />
    </components>
  </Ftp.BusinessLogic>

</configuration>