<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="System.Framework.Ftp" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>
  
  <System.Framework.Ftp defaultAssembly="System.Framework.Ftp">
    <components>
      <component type="System.Framework.Ftp.Ftp, System.Framework.Ftp" service="System.Framework.Ftp.IFtp" />
    </components>
  </System.Framework.Ftp>


</configuration>