@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <form class="layui-form " action="#">
        <div class="layui-form-item" style="margin-bottom: 0;">
            <fieldset class="layui-elem-field">
                <legend i18n="Policy.index.status">状态</legend>
                <div class="layui-field-box">
                    <div class="layui-inline" style="margin-bottom: 0;">
                        <div class="layui-form-mid">
                            <input type="radio" name="radioStatus" value="O" title="开放" checked>
                        </div>
                        <div class="layui-form-mid">
                            <input type="radio" name="radioStatus" value="A" title="有效">
                        </div>
                        <div class="layui-form-mid">
                            <input type="radio" name="radioStatus" value="T" title="终止">
                        </div>
                        <div class="layui-form-mid">
                            <input type="radio" name="radioStatus" value="" title="全部">
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
    <fieldset class="layui-elem-field site-demo-button">
        <legend i18n="Policy.index.MemberName">人員名稱</legend>
        <div class="layui-inline" style="margin-bottom: 0;">
            <div class="layui-field-box" id="divMemberNames"></div>
        </div>
    </fieldset>


    <div class="layui-form tableheight">

        @*product 产品
                PLAN_DESC 计划/Plan
            LEVEL_IND 计划级别/Plan Level
            DEFAULT_IND 默认/Default*@
        <table class="layui-table">
            <colgroup>
                <col width="350">
                <col>
                <col width="100">
                <col width="80">
                <col width="80">
                <col width="50">
            </colgroup>
            <thead>
                <tr>
                    <th i18n="Policy.index.Product">产品</th>
                    <th i18n="Policy.index.Plan">计划</th>
                    <th i18n="Policy.index.Points"><span>积分</span></th>
                    @*<th i18n="public.common.default"><span>默认</span></th>*@
                    <th i18n="Policy.index.Level"><span>级别</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="memberTableBody"></tbody>
        </table>
    </div>
</div>

<script src="../Scripts/common.js"></script>
<script src="../Scripts/Policy/Index.js"></script>
<script type="text/javascript">
    $(function () {
        $("#linkPolicy").addClass("navbarCheckIn");
    });
</script>
