@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <form class="layui-form " action="#">
        <div class="layui-form-item" style="margin-bottom: 0;">
            <fieldset class="layui-elem-field" >
                <legend i18n="Policy.index.status">状态</legend>
                <div class="layui-field-box">
                    <div class="layui-inline" style="margin-bottom: 0;">
                        <div class="layui-form-mid">
                            <input type="radio" name="radioStatus" value="O" title="开放" checked>
                        </div>
                        <div class="layui-form-mid">
                            <input type="radio" name="radioStatus" value="A" title="有效">
                        </div>
                        <div class="layui-form-mid">
                            <input type="radio" name="radioStatus" value="T" title="终止">
                        </div>
                        <div class="layui-form-mid">
                            <input type="radio" name="radioStatus" value="" title="全部">
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </form>
    <fieldset class="layui-elem-field site-demo-button">
        <legend i18n="Policy.index.MemberName">人員名稱</legend>
        <div class="layui-inline" style="margin-bottom: 0;">
            <div class="layui-field-box" id="divMemberNames"></div>
        </div>
    </fieldset>


    <div class="layui-form">

        <table class="layui-table">
            <colgroup>
                <col width="30">
                <col width="150">
                <col>
                <col width="80">
                <col width="80">
            </colgroup>
            <thead>
                <tr>
                    <th></th>
                    <th i18n="Policy.index.MemberName"><span>人員名稱</span></th>
                    <th i18n="Policy.index.info"><span>保單信息</span></th>
                    <th i18n="Policy.index.status"><span>状态</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="memberTableBody"></tbody>
        </table>
    </div>
</div>

<script src="~/Scripts/Policy/Index.js"></script>