<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/Content/ui/global/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/ui/global/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/adminlte/dist/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/Content/adminlte/dist/css/skins/_all-skins.css" rel="stylesheet" />
    <link href="~/Content/min/css/supershopui.common.min.css" rel="stylesheet" />
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <meta charset="utf-8" />
</head>
<body>
    <section class="content">
        @RenderBody()
    </section>
    <!-- Bootstrap 3.3.6 -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/supershopui.common.js"></script>
    <script src="~/Content/plugins/jQueryUI/jquery-ui.min.js"></script>
    <script src="~/Content/layui/lay/dest/layui.all.js"></script>
    <!-- Sparkline -->
    <script>
        $.widget.bridge('uibutton', $.ui.button);
    </script>
</body>
</html>
