<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>

  <autofac>
    <files>
      <file name="AppConfigs/autofac-System.Framework.Ftp.config" section="System.Framework.Ftp" />
      <file name="AppConfigs/autofac-Ftp.BusinessLogic.config" section="Ftp.BusinessLogic" />
    </files>
  </autofac>
  
  <appSettings>
    <add key="FtpServiceConfig" value="\AppConfigs\Uat.FtpServiceConfig.JSON" />

    <add key="DefaultConnectionString" value="Data Source=10.128.68.73\CPICII1;Initial Catalog=TPA_PROD;UID=sa;password=taipingerqi1!;Pooling=true;Max Pool Size=32767;Min Pool Size=0;" />
    <!--<add key="DefaultConnectionString" value="10.128.68.82\CPIC02;Initial Catalog=TPA_PROD;UID=sa;password=cpic02@cpic.com;Pooling=true;Max Pool Size=32767;Min Pool Size=0;"/>
    <add key="DefaultConnectionString" value="10.128.68.84\CPIC04;Initial Catalog=TPA_PROD;UID=sa;password=cpic04@cpic.com;Pooling=true;Max Pool Size=32767;Min Pool Size=0;"/>-->
  </appSettings>
  

</configuration>