
@{
    ViewBag.Title = "Broker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="../Content/User/style.css" rel="stylesheet" />
<div style="height:600px;">

    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 " style="margin-top: 120px;">
    </div>

    <div id="signInMessage" class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 textcenter textflex" style="font-family: Helvetica;">
        @Model.Title
    </div>

    <form id="BrokerSignInForm" class="layui-form" action="">
        @Html.AntiForgeryToken()
        <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 textcenter textflex" style="display: inline !important;">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 textcenter textflex">
                <span i18n="user.login.policy">Policy No.</span>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 textflex" style="height:55px;text-align: left;color: #6c6d70;font-size: 20px;font-family: Helvetica;">
                @Html.DropDownList("ddlPolicyNo", ViewData["PolicyList"] as SelectList, "Please Select-請選擇", new Dictionary<string, object> { { "lay-filter", "ddlPolicyNo" }, { "lay-verify", "required" }, { "lay-search", "" }, { "class", "layui-select-title" } })
            </div>
        </div>
        <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 textcenter textflex" style="display: inline !important;">
            @*<input type="text" id="txtMember" name="txtMember" required lay-verify="required" i18n="user.login.member" i18n-only="placeholder" placeholder="Member ID" class="iconText layui-input" style="font-family: Helvetica; background: url(../Content/Images/memberId.png) center left no-repeat;" />*@
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 textcenter textflex">
                <span i18n="user.login.member">Member ID</span>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 textflex" style="height:55px;text-align: left;color: #6c6d70;font-size: 20px;font-family: Helvetica;">
                <select class="layui-select-title" id="ddlMember" lay-filter="ddlMember" lay-search="" lay-verify="required" name="ddlMember">
                    <option value="">Please Select-請選擇</option>
                </select>
            </div>
        </div>

        <div class="col-lg-2 col-lg-offset-5 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 textcenter textflex" style="margin-bottom: 150px;">
            <button lay-submit lay-filter="btnBrokerLogin" class="layui-btn layui-btn-primary" i18n="user.login.signIn" style="font-family: Helvetica; background-color: #C21B17; color: white; font-size: 20px; font-weight: 600">Sign In</button>
        </div>
    </form>
</div>
<script src="../Scripts/User/Broker.js"></script>