
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="min-height:400px;max-height:600px;margin-top:80px;">


    <form class="layui-form layui-form-pane" action="">
        @Html.AntiForgeryToken()
        <div class="layui-form-item">
            <label class="layui-form-label" i18n="user.modify.oldpwdtitle" style="min-width: 120px;">原密码</label>
            <div class="layui-input-inline" style="min-width: 270px;">
                <input type="password" id="oldPassword" name="oldPassword"  required lay-verify="required"" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid"><i class="layui-icon" id="oldIcon" style="display: none;font-size: 25px; padding-right:5px;color: red;font-weight: bold;">&#x1006;</i></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" i18n="user.modify.newpwdtitle" style="min-width: 120px;">新密码</label>
            <div class="layui-input-inline" style="min-width: 270px;">
                <input type="password" id="newPassword" name="newPassword" required lay-verify="required"  autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid"><i class="layui-icon" id="newIcon" style="display: none;font-size: 25px; padding-right:5px;color: red;font-weight: bold;">&#xe605;</i></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" i18n="user.modify.comfirmpwdtitle" style="min-width: 120px;">确认密码</label>
            <div class="layui-input-inline" style="min-width: 270px;">
                <input type="password" id="confirmPassword" name="confirmPassword" required lay-verify="required"  autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid"><i class="layui-icon" id="confirmIcon" style="display: none;font-size: 25px; padding-right:5px;color: red;font-weight: bold;">&#x1006;</i></div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo" i18n="user.modify.submit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary" i18n="user.modify.reset">重置</button>
            </div>
        </div>
    </form>

    @*<div class="demo-class" id="sssss">

        <ul id="verifyPopUp">
            <li style="color:#fc4343"><i class="layui-icon" style="font-size: 12px; padding-right:5px;color: #FC4343;">&#x1006;</i>长度为6~14个字符</li>
            <li><i class="layui-icon" style="font-size: 12px; padding-right:5px;color: #5BC92E;">&#xe605;</i>支持数字,大小写字母和标点符号</li>
            <li>不允许有空格</li>
            <li><i class="layui-icon" style="font-size: 12px; padding-right:5px;color: #FC4343;">&#x1006;</i>密码强度</li>
            <li class="pwd-checklist-err"><i class="layui-icon">&#x1006;</i>错误</li>
            <li id="conrule1" class="pwd-checklist-err"><i id="conicon1" class="layui-icon">&#x1006;</i><span i18n="user.modify.pwdSpace">不允許有空格</span></li>
        </ul>
    </div>*@
    <script src="../Scripts/User/ChangePassword.js"></script>
</div>
