
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="min-height:400px;max-height:600px;margin-top:80px;">


    <form class="layui-form layui-form-pane" action="">
        @Html.AntiForgeryToken()
        <div class="layui-form-item">
            <label class="layui-form-label" i18n="user.modify.oldpwdtitle" style="min-width: 120px;">原密码</label>
            <div class="layui-input-inline" style="min-width: 270px;">
                <input type="password" id="oldPassword" name="oldPassword" i18n="user.modify.oldpwdprom" required lay-verify="required" placeholder="请输入原密码" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux" i18n="user.modify.oldpwdprom">请输入原密码</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" i18n="user.modify.newpwdtitle" style="min-width: 120px;">新密码</label>
            <div class="layui-input-inline" style="min-width: 270px;">
                <input type="password" id="newPassword" name="newPassword" i18n="user.modify.newpwdprom" required lay-verify="required" placeholder="请输入新密码" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux" i18n="user.modify.newpwdprom">请输入新密码</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" i18n="user.modify.comfirmpwdtitle" style="min-width: 120px;">确认密码</label>
            <div class="layui-input-inline" style="min-width: 270px;">
                <input type="password" id="confirmPassword" name="confirmPassword" i18n="user.modify.confirmpwdprom" required lay-verify="required" placeholder="请再次输入新密码" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux" i18n="user.modify.confirmpwdprom">请再次输入新密码</div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo" i18n="user.modify.submit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary" i18n="user.modify.reset">重置</button>
            </div>
        </div>
    </form>

    <div class="demo-class" id="sssss">

        <ul id="TANGRAM__PSP_3__pwdChecklist" class="pwd-checklist">
            <li style="color:#fc4343"><i class="layui-icon" style="font-size: 12px; padding-right:5px;color: #FC4343;font-weight:bold;">&#x1006;</i>长度为6~14个字符</li>
            <li><i class="layui-icon" style="font-size: 12px; padding-right:5px;color: #5BC92E;font-weight:bold;">&#xe605;</i>支持数字,大小写字母和标点符号</li>
            <li>不允许有空格</li>
            <li><i class="layui-icon" style="font-size: 12px; padding-right:5px;color: #FC4343;font-weight:bold;">&#x1006;</i>密码强度</li>
        </ul>
    </div>
    <script src="../Scripts/User/ChangePassword.js"></script>
</div>
