
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/User/style.css" rel="stylesheet" />

<div class="container" style="text-align:center;min-height:600px;max-height:600px;">
    <div style="font-family: Helvetica;padding:40px;color:#C21B17;font-size: 20px;font-weight: 600;">
        <p i18n="user.forgot.headtitle">请输入需要找回密码的保单/被保人ID</p>
    </div>
    <form class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline" style="min-width:500px;max-width:1800px;">
                <label class="layui-form-label" style="font-family: Helvetica;color: #C21B17;width:210px;font-size: 20px;" i18n="user.forgot.policyNo">Policy NO：</label>
                <div class="layui-input-inline">
                    <input type="text" name="policyNo" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div  class="layui-form-item">
            <div class="layui-inline" style="min-width:500px;max-width:1800px;">
                <label class="layui-form-label" style="font-family: Helvetica;color: #C21B17;width:210px;font-size: 20px;"i18n="user.forgot.memberId">Member ID：</label>
                <div class="layui-input-inline">
                    <input type="text" name="memberId" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <button class="layui-btn layui-btn-primary" lay-submit lay-filter="btnSubmit" id="submitId" style="font-family: Helvetica;background-color: #C21B17; color: white;font-size: 20px;" i18n="user.forgot.submit">提 交</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    layui.use(['form', 'layedit', 'laydate', 'element'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        form.on('submit(btnSubmit)', function (data) {
            //layer.msg(JSON.stringify(data.field));
            $.ajax({
                type: "POST",
                url: "/User/ForgotPassword",
                data: { "policyNo": data.field.policyNo, "memberId": data.field.memberId },
                dataType: "json",
                success: function (data, status) {
                    if (data.Data == "0") {
                        layer.msg(data.Msg);
                        setTimeout(function () {
                            window.location.href = "/User/Login";
                        }, 2000);
                    } else {
                        layer.msg(data.Msg);
                    }
                }
            });
            return false;
        });
    });
</script>

