
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/User/style.css" rel="stylesheet" />

<div class="container" style="text-align:center;min-height:350px;max-height:600px;">
    <div style="padding:40px;color:#C21B17;">
        <p>请输入需要找回密码的保单/被保人ID</p>
    </div>
    <form class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" style="color: #C21B17;min-width:120px;max-width:220px;">Policy NO：</label>
                <div class="layui-input-inline">
                    <input type="text" name="policyNo" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div  class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label" style="color: #C21B17;min-width:120px;max-width:220px;">Member ID：</label>
                <div class="layui-input-inline">
                    <input type="text" name="memberId" lay-verify="required" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <button class="layui-btn layui-btn-primary" lay-submit lay-filter="btnSubmit" id="submitId" style="background-color: #C21B17; color: white;font-weight:600;">提 交</button>
                @*<button class="layui-btn layui-btn-primary" onclick="history.go(-1)">返回</button>*@
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    layui.use(['form', 'layedit', 'laydate', 'element'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        form.on('submit(btnSubmit)', function (data) {
            //layer.msg(JSON.stringify(data.field));
            $.ajax({
                type: "POST",
                url: "/User/ForgotPassword",
                data: { "policyNo": data.field.policyNo, "memberId": data.field.memberId },
                dataType: "json",
                success: function (data, status) {
                    if (data.Data == "0") {
                        layer.msg(data.Msg);
                        window.location.href = "/User/Login";
                    } else {
                        layer.msg(data.Msg);
                    }
                }
            });
            return false;
        });
    });
</script>

