
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/User/style.css" rel="stylesheet" />

<div class="container" style="height:600px;">
    <div style="text-align:center;font-family: Helvetica;padding:80px;color:#C21B17;font-size: 20px;font-weight: 600;">
        <p i18n="user.forgot.headtitle">请输入需要找回密码的保单/被保人ID</p>
    </div>

    <form class="layui-form">
        <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 textcenter textflex">
            <input type="text" id="policyNo" name="policyNo" required lay-verify="required" i18n="user.forgot.policyNo" i18n-only="placeholder" placeholder="Policy No." class="iconText layui-input" style="background: url(../../Content/Images/policyNo.png) center left no-repeat;">
        </div>
        <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 textcenter textflex">
            <input type="text" id="memberId" name="memberId" required lay-verify="required" i18n="user.forgot.memberId" i18n-only="placeholder" placeholder="Member ID" class="iconText layui-input" style="font-family: Helvetica; background: url(../../Content/Images/memberId.png) center left no-repeat;" />
        </div>
        <div id="emailDiv" class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 textcenter textflex" style="display:none;">
            <input type="text" id="txtEmailUp" name="txtEmailUp" i18n="user.login.member" i18n-only="placeholder" placeholder="Member ID" class="iconText layui-input" style="font-family: Helvetica; background: url(../../Content/Images/memberId.png) center left no-repeat;" />
        </div>
        <div class="col-lg-2 col-lg-offset-5 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 textcenter textflex" style="margin-bottom: 150px;padding-top:20px;">
            <button lay-submit lay-filter="btnSubmit" class="layui-btn layui-btn-primary" i18n="user.forgot.submit" style="font-family: Helvetica; background-color: #C21B17; color: white; font-size: 20px; font-weight: 600">Sign Up</button>
        </div>
        @*<div>
            <button id="zhuanid" class="layui-btn layui-btn-primary">html转PDF</button>
        </div>*@
    </form>

</div>
<script type="text/javascript">
    layui.use(['form', 'layedit', 'laydate', 'element'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        form.on('submit(btnSubmit)', function (data) {
            //layer.msg(JSON.stringify(data.field));
            $.ajax({
                type: "POST",
                url: "/User/ForgotPassword",
                data: { "policyNo": data.field.policyNo, "memberId": data.field.memberId },
                dataType: "json",
                success: function (data, status) {
                    if (data.Data == "0") {
                        layer.msg(data.Msg);
                        setTimeout(function () {
                            window.location.href = "/User/Login";
                        }, 2000);
                    } else {
                        layer.msg(data.Msg);
                    }
                }
            });
            return false;
        });
    });

    $(function () {
        $("#zhuanid").on('click', function () {
            $.ajax({
                type: "POST",
                url: "/User/HTMLConvertPDF",
                data: {},
                success: function (data, status) {
                    layer.msg(data + "==" + status)
                }
            })
        });
    });
</script>

