
@{
    ViewBag.Title = "Login";
    @*//Layout = "~/Views/Shared/_Layout.cshtml";*@
}
<link href="~/Content/User/style.css" rel="stylesheet" />
<div style="height:600px;">

    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 " style="margin-top: 70px;">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><a href="#" id="signIndiv" class="selected textcenter textflex textright" i18n="user.login.signIn" onclick="signIn()">Sign In</a></div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><a href="#" id="singUpdiv" class=" textcenter textflex textleft" i18n="user.login.signUp" onclick="signUp()">Sign Up</a></div>
    </div>

    <div id="signInMessage" i18n="user.login.in" class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 textcenter textflex" style="font-family: Helvetica;">
        Sign in to your Generali account
    </div>
    <div id="signUpMessage" i18n="user.login.up" class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 textcenter textflex" style="font-family: Helvetica; display: none;">
        Sign Up to your Generali account
    </div>

    <form id="signInForm" class="layui-form" action="">
        <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 textcenter textflex">
            <input type="text" id="txtpolicyNo" name="txtpolicyNo" required lay-verify="required" i18n="user.login.policy" i18n-only="placeholder" placeholder="Policy No." class="iconText layui-input" style="background: url(../../Content/Images/policyNo.png) center left no-repeat;">
        </div>
        <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 textcenter textflex">
            <input type="text" id="txtMember" name="txtMember" required lay-verify="required" i18n="user.login.member" i18n-only="placeholder" placeholder="Member ID" class="iconText layui-input" style="font-family: Helvetica; background: url(../../Content/Images/memberId.png) center left no-repeat;" />
        </div>
        <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 textcenter textflex">
            <input type="password" id="txtPassword" name="txtPassword" required lay-verify="required" i18n="user.login.password" i18n-only="placeholder" placeholder="密码" class="iconText layui-input" style="font-family: Helvetica; background: url(../../Content/Images/password.png) center left no-repeat;" />
        </div>
        <div i18n="user.login.forgotpwd" class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
            Forgot Password?
        </div>

        <div class="col-lg-2 col-lg-offset-5 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 textcenter textflex" style="margin-bottom: 150px;">
            <button lay-submit lay-filter="btnLogin" class="layui-btn layui-btn-primary" i18n="user.login.signIn" style="font-family: Helvetica; background-color: #C21B17; color: white; font-size: 20px; font-weight: 600">Sign In</button>
        </div>
    </form>

    <form id="signUpForm" class="layui-form" style="display:none;" action="">
        <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 textcenter textflex">
            <input type="text" id="txtPolicyUp" name="txtPolicyUp" required lay-verify="required" i18n="user.login.policy" i18n-only="placeholder" placeholder="Policy No." class="iconText layui-input" style="background: url(../../Content/Images/policyNo.png) center left no-repeat;">
        </div>
        <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 textcenter textflex">
            <input type="text" id="txtMemberUp" name="txtMemberUp" required lay-verify="required" i18n="user.login.member" i18n-only="placeholder" placeholder="Member ID" class="iconText layui-input" style="font-family: Helvetica; background: url(../../Content/Images/memberId.png) center left no-repeat;" />
        </div>
        <div id="emailDiv"class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 textcenter textflex" style="display:none;">
            <input type="text" id="txtEmailUp" name="txtEmailUp" i18n="user.login.member" i18n-only="placeholder" placeholder="Member ID" class="iconText layui-input" style="font-family: Helvetica; background: url(../../Content/Images/memberId.png) center left no-repeat;" />
        </div>
        <div class="col-lg-2 col-lg-offset-5 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 textcenter textflex" style="margin-bottom: 150px;padding-top:20px;">
            <button lay-submit lay-filter="btnLoginUp" class="layui-btn layui-btn-primary" i18n="user.login.signUp" style="font-family: Helvetica; background-color: #C21B17; color: white; font-size: 20px; font-weight: 600">Sign Up</button>
        </div>
    </form>
</div>
<script src="~/Scripts/Home/Home.js"></script>