
@{
    ViewBag.Title = "Login";
    @*//Layout = "~/Views/Shared/_Layout.cshtml";*@
}
<link href="~/Content/User/style.css" rel="stylesheet" />
<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 textcenter" style="margin-top:70px;">
    <div i18n="user.login.signIn" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 textcenter textflex textright">Sign In</div>
    <div i18n="user.login.signUp" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 textcenter textflex textleft">Sign Up</div>
</div>
<div i18n="user.login.message" class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 textcenter textflex" style="font-family: Helvetica;">
    Sign in to your Generali account
</div>
<form class="layui-form" action="">
    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 textcenter textflex">
        <input type="text" id="txtMember" name="txtMember" required lay-verify="required" i18n="user.login.member" i18n-only="placeholder" placeholder="Member ID" class="iconText layui-input" style="font-family: Helvetica;background: url(../../Content/Images/memberId.png) center left no-repeat;" />
    </div>
    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 textcenter textflex">
        <input type="password" id="txtPassword" name="txtPassword" required lay-verify="required" i18n="user.login.password" i18n-only="placeholder" placeholder="密码" class="iconText layui-input" style="font-family: Helvetica;background: url(../../Content/Images/password.png) center left no-repeat;" />
    </div>
    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        @Html.ActionLink("Forgot Password?", "ForgotPassword", null, new { i18n = "user.login.forgotpwd" })
    </div>

    <div class="col-lg-2 col-lg-offset-5 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 textcenter textflex" style="margin-bottom:150px;">
        <button lay-submit lay-filter="btnLogin" class="layui-btn layui-btn-primary" i18n="user.login.signIn" style="font-family: Helvetica;background-color: #C21B17; color: white;font-size:20px;font-weight:600">Sign In</button>
    </div>
</form>

<script src="~/Scripts/Home/Home.js"></script>