
@{
    ViewBag.Title = "ModifyPwd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="min-height:400px;max-height:600px;margin-top:80px;">
    @*<div class="layui-container layui-fluid">
        <div class="layui-row">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-lg12">ModifyPwd</div>
        </div>
    </div>*@
    
    <form class="layui-form layui-form-pane" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">原密码</label>
            <div class="layui-input-inline">
                <input type="text" name="oldPassword" required lay-verify="required" placeholder="请输入原密码" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">请输入原密码</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-inline">
                <input type="password" name="newPassword" required lay-verify="required" placeholder="请输入新密码" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">请输入新密码</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-inline">
                <input type="password" name="confirmPassword" required lay-verify="required" placeholder="请再次输入新密码" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">请再次输入新密码</div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
    <script>
        //Demo
        layui.use('form', function () {
            var form = layui.form;

            //监听提交
            form.on('submit(formDemo)', function (data) {
                var newPassword = data.field.newPassword;
                var confirmPassword = data.field.confirmPassword;
                if (newPassword != confirmPassword) {
                    layer.msg("新密码和确认密码不匹配！");
                } else {
                    $.post("../User/ModifyPwd", $(".layui-form").serialize(), function (data, status) {
                        if (data.Code == 0) {
                            layer.msg(data.Msg);
                            setTimeout(dir, 2000);
                        } else {
                            layer.msg(data.Msg);
                        }
                    });
                }
                return false;
            });
        });

        function dir() {
            location.href = "../Home/Index";
        }
    </script>
</div>
