
@{
    ViewBag.Title = "ModifyPwd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="min-height:400px;max-height:600px;margin-top:80px;">
    @*<div class="layui-container layui-fluid">
            <div class="layui-row">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-lg12">ModifyPwd</div>
            </div>
        </div>*@

    <form class="layui-form layui-form-pane" action="">
        <div class="layui-form-item">
            <label class="layui-form-label" i18n="user.modify.oldpwdtitle" style="min-width:120px;">原密码</label>
            <div class="layui-input-inline" style="min-width:270px;">
                <input type="password" name="oldPassword" i18n="user.modify.oldpwdprom" required lay-verify="required" placeholder="请输入原密码" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux" i18n="user.modify.oldpwdprom">请输入原密码</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" i18n="user.modify.newpwdtitle" style="min-width:120px;">新密码</label>
            <div class="layui-input-inline" style="min-width:270px;">
                <input type="password" name="newPassword" i18n="user.modify.newpwdprom" required lay-verify="required" placeholder="请输入新密码" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux" i18n="user.modify.newpwdprom">请输入新密码</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" i18n="user.modify.comfirmpwdtitle" style="min-width:120px;">确认密码</label>
            <div class="layui-input-inline" style="min-width:270px;">
                <input type="password" name="confirmPassword" i18n="user.modify.confirmpwdprom" required lay-verify="required" placeholder="请再次输入新密码" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux" i18n="user.modify.confirmpwdprom">请再次输入新密码</div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo" i18n="user.modify.submit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary" i18n="user.modify.reset">重置</button>
            </div>
        </div>
    </form>
    <script>
        //Demo
        layui.use('form', function () {
            var form = layui.form;

            //监听提交
            form.on('submit(formDemo)', function (data) {
                var re = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!#$%^&*(){}:_]).{8,16}$/;
                var newPassword = data.field.newPassword;
                var confirmPassword = data.field.confirmPassword;
                if (!re.test(newPassword) || !re.test(confirmPassword)) {
                    layer.msg("Password shall includes Capital Letter, Small Letter, Sign and Numbers with length between 8 - 16 charactors!", { icon: 5 });
                }
                else if (newPassword != confirmPassword) {
                    layer.msg("2 password input is inconsistent！", { icon: 5 });
                } else {
                    $.post("../User/ModifyPwd", $(".layui-form").serialize(), function (data, status) {
                        if (data.Code == 0) {
                            layer.msg(data.Msg, { time: 2000 });
                            location.href = "../Home/Index";
                        } else {
                            layer.msg(data.Msg);
                        }
                    });
                }
                return false;
            });
        });
    </script>
</div>
