@using HkEbPortal.App_Start
@using HkEbPortal.Models.EB_PORTAL
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href="../Content/style.css" rel="stylesheet" />
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../Scripts/css/layui.css" rel="stylesheet" />
    <link href="../Content/User/style.css" rel="stylesheet" />

    <script src="../bundles/modernizr"></script>
    <script src="../Scripts/common.js"></script>
    <script src="../Scripts/jquery-3.1.1.min.js"></script>
    <script src="../Scripts/layui.js"></script>
    <script src="../Scripts/language/jquery.i18n.min.js"></script>
    <script src="../Scripts/language/laodlanguage.js"></script>
    <script src="../Scripts/jquery.cookie-1.4.1.min.js"></script>

</head>
<body>

    @{
        var userinfo = Session[FormsAuthentication.FormsCookieName] as UserInfo;
        var isShow = userinfo != null ? "" : "style=display:none;";
        var isHide = userinfo != null ? "style=display:none;" : "";
        var homeIsMenuDisabled = "";
        var policyIsMenuDisabled = "";
        var fsaIsMenuDisabled = "";
        var contactIsMenuDisabled = "";
        if (userinfo != null)
        {
            homeIsMenuDisabled = userinfo.USUS_INFO_IS_CONFIRM == "Y" ? "href = ../Home/Index" : " class=menu-disabled ";
            policyIsMenuDisabled = userinfo.USUS_INFO_IS_CONFIRM == "Y" ? "href = ../Policy/Index" : " class=menu-disabled ";
            fsaIsMenuDisabled = userinfo.USUS_INFO_IS_CONFIRM == "Y" ? "href = ../Reimbursement/Index" : " class=menu-disabled ";
            contactIsMenuDisabled = userinfo.USUS_INFO_IS_CONFIRM == "Y" ? "href = ../Home/Contact" : " class=menu-disabled ";
            if (userinfo.USUS_INFO_IS_CONFIRM == "Y")
            {
                var isOpen = new Common().IsOpenEnrollment(userinfo.USUS_KY);
                policyIsMenuDisabled = isOpen ? " class=menu-disabled " : "href = ../Policy/Index";
                fsaIsMenuDisabled = isOpen ? "href = ../Reimbursement/Index" : " class=menu-disabled ";
            }
        }
    }
    <!-- header -->
    <nav class="navbar navbar-custom  top-nav-collapse" role="navigation" style="margin-bottom: 0;padding-top:20px;">
        <div class="container">

            <div class="navbarhide" style="height: 50px; text-align: right; line-height: 30px; font-size: 15px;">
                <div @isShow id="btnLogout" class="myButton" style="background-color: #FFFFFF;border-right: none; padding:0;  cursor: pointer;" onclick="Logout();">
                    <span class="layui-badge-rim layui-bg-gray"><a i18n="footer.logout" style="font-size: 12px;font-weight: normal;color:#333">安全退出</a></span>
                </div>
                <div @isShow id="btnLogout" class="myButton" style="background-color: #FFFFFF;border-right: none; padding:0; margin:0 10px 0 10px; cursor: pointer;">
                    <span class="layui-badge-rim layui-bg-gray"><a href="../User/ChangePassword" i18n="footer.Editpwd" style="font-size: 12px;font-weight: normal;color:#333">修改密碼</a></span>
                </div>
                <div @isHide id="btnLogin" class="myButton" style="border-right: none; padding-right: 10px; width:100px;cursor: pointer;" onclick="window.open('../User/Login', '_self')">
                    <a class="myHarf" style=""></a>
                    <a i18n="footer.login" style="color: #FFFFFF; padding-right: 10px;">登入</a>
                </div>
                <div @isHide class="center" style="border-right: none; padding-right: 10px;">
                    <a style="background: url(../Content/Images/iconList.png) 2px -1713px no-repeat; width: 25px; height: 30px; display: block;"></a>
                </div>

                <div id="Chinese" class="center" style="cursor: pointer;">繁</div>
                <div id="english" class="center" style="cursor: pointer;">EN</div>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"><img src="../Content/Images/humb.png" alt=""></i>
                </button>
                <a class="navbar-brand page-scroll" href="" style="background: url(../Content/Images/generali-logo-big.svg) no-repeat; float: right; width: 100px; height: 80px; border: 0; display: block;"></a>
            </div>

            <div class="collapse navbar-collapse navbar-left navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <li id="linkHome" @isShow><a i18n="footer.menu.homepage" @homeIsMenuDisabled>主頁</a></li>
                    <li id="linkInsurant" @isShow><a href="../Insurant/Index" i18n="footer.menu.member">受保人資料</a></li>
                    <li id="linkPolicy" @isShow style="width: 200px;"><a i18n="footer.menu.policy" @policyIsMenuDisabled>福利選擇</a></li>
                    <li id="linkReim" @isShow><a i18n="footer.menu.claims" @fsaIsMenuDisabled>彈性福利索償</a></li>
                    <li id="linkContact" @isShow><a i18n="footer.menu.contact" @contactIsMenuDisabled>聯係我們</a></li>
                </ul>
            </div>

            <div id="loginView" style="display:none">

            </div>
        </div>
    </nav>
    <!-- banner -->
    <!-- main -->
    <div id="main navbarhide ">

        @RenderBody()

    </div>
    <!-- text-->
    <nav id="footer">
        <div class="container">
            <hr style="background-color: #C21B17;height:2px;" />
            <div class="fnav text-center" style="width: 100%;">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div style="text-align: left;">
                        <a href="../Text/Tems and Condition_English20141231.pdf" target="_blank" i18n="footer.menu.legal">法律信息</a> |
                        <a href="../Text/Privacy Policy for portal English2014.pdf" target="_blank" i18n="footer.menu.privacy">隱私保護</a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: right;"><img src="../Content/Images/logo-footer_0.png" style="width: 143px; height: 20px;" /></div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: right; font-size: 16px" i18n="footer.menu.company">版权 © 2017 忠意人寿(香港)有限公司及忠意保险有限公司 (香港分行)</div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: right; font-size: 16px" i18n="footer.menu.reserved">版權所有</div>
                </div>


            </div>
        </div>
    </nav>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109440493-1"></script>
    <script type="text/javascript">
        //Google Analytics
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-109440493-1');

        $(function () {
            var index = 1;
            //$(".navbar-nav>li").eq(index).addClass("active");
            // $("#btnLogin").click(Login);
            var date = new Date();
            date.setTime(date.getTime() + (1 * 24 * 60 * 60 * 1000));
            laodlanguage();
            //$("#SimplifiedChinese").click(function () { $("[i18n]").i18n({ defaultLang: "SimplifiedChinese", filePath: "../i18n/" }); $.cookie("defaultLang", "SimplifiedChinese", { path: '/', expires: date }); });
            $("#Chinese").click(function () { $("[i18n]").i18n({ defaultLang: "ch", filePath: "../i18n/" }); $.cookie("defaultLang", "ch", { path: '/', expires: date }); });
            $("#english").click(function () { $("[i18n]").i18n({ defaultLang: "en", filePath: "../i18n/" }); $.cookie("defaultLang", "en", { path: '/', expires: date }); });

            //$("[i18n]").i18n({ defaultLang: "en", filePath: "../i18n/"});$.cookie("defaultLang", "en", { path: '/', expires: date });
        });

        function Logout() {
            window.location.href = "../User/Logout";
        }

    </script>
</body>
</html>
