@using HkEbPortal.Models.EB_PORTAL
@model IEnumerable<SPEH_PLFM_DET_LIST_RESULT>
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <link href="../Content/style.css" rel="stylesheet" />
    <link href="../Scripts/css/layui.css" rel="stylesheet" />
    <script src="../Scripts/jquery-3.1.1.min.js"></script>
    <script src="../Scripts/layui.js"></script>
    <script src="../Scripts/common.js"></script>
    <script src="../Scripts/Policy/Detail.js"></script>
    <script src="../Scripts/language/jquery.i18n.min.js"></script>
    <script src="../Scripts/language/laodlanguage.js"></script>
    <script src="../Scripts/jquery.cookie-1.4.1.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>BenifitDetail</title>
</head>
<body style="padding:0;">
    <div class="container">
        <table class="layui-table" style="min-width: 100px; max-width: 1200px; min-height: 100px;">
            <colgroup>
                <col>
                <col>
                <col>
                <col>
                <col width="50">
            </colgroup>
            <thead>
            <tr>
                <th i18n="Policy.index.Product">产品</th>
                <th i18n="Policy.index.Plan">计划</th>
                <th i18n="Policy.index.Points">积分</th>
                <th i18n="Policy.index.Level">级别</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.PDCT_LONG_NAME</td>
                    <td>@item.PDPD_LONG_NAME</td>
                    <td>@item.PLME_AMT</td>
                    <td>@item.PDPD_LEVEL</td>
                    <td>
                        <div class="layui-table-cell laytable-cell-1-4">
                            @if (item.PDPD_LINK != "")
                            {
                                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="detail" href="../Insurant/ReadPdf?fName=@item.PDPD_LINK" target="_blank" title="View PDF">PDF</a>
                            }
                            else
                            {
                                <a class="layui-btn layui-btn-danger layui-btn-xs layui-btn-disabled" title="View PDF">PDF</a>
                            }
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109440493-1"></script>
    <script type="text/javascript">
        $(function() { laodlanguage(); });
        //Google Analytics
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-109440493-1');
    </script>
</body>

</html>
