<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Ftp.BusinessLogic" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>
  
  <Ftp.BusinessLogic defaultAssembly="Ftp.BusinessLogic">
    <components>
      <component type="Ftp.BusinessLogic.Implementation.DownLoadBatchBl, Ftp.BusinessLogic" service="Ftp.BusinessLogic._Interface.IDownLoadBl" />
    </components>
  </Ftp.BusinessLogic>

</configuration>