@{
    ViewBag.Title = "Add";
    Layout = "/Views/Shared/_Layout.cshtml";
}


<div class="container tableheight">

    <fieldset class="layui-elem-field layui-field-title">
        <legend><span i18n="footer.menu.claims">彈性福利索償</span>-<span i18n="Reimbursement.Index.Add">新增</span></legend>
    </fieldset>
    <form class="layui-form">
        @Html.AntiForgeryToken()
        <div class="layui-form-item">
            <div class="layui-inline">
                <label i18n="Reimbursement.edit.faimily" class="layui-form-label-width layui-form-label ">家庭成</label>
                <div class="layui-input-inline">
                    @Html.DropDownList("FMFM_DropDownList", ViewData["FMFM_DropDownList"] as SelectList, "Please Select-請選擇", new Dictionary<string, object>() { { "lay-verify", "required" }, { "lay-filter", "fmfmId" } })
                </div>
            </div>
            <div class="layui-inline">
                <label i18n="Reimbursement.edit.benefit" class="layui-form-label-width layui-form-label ">福利</label>
                <div class="layui-input-inline">
                    @Html.DropDownList("EBEB_DropDownList", ViewData["EBEB_DropDownList"] as SelectList, "Please Select-請選擇", new Dictionary<string, object>() { { "lay-verify", "required" } })
                </div>
            </div>
            <div class="layui-inline">
                <label i18n="Reimbursement.edit.type" class="layui-form-label">發票類型</label>
                <div class="layui-input-inline">
                    @Html.DropDownList("CLIV_DropDownList", ViewData["CLIV_DropDownList"] as SelectList, new Dictionary<string, object>() { { "lay-verify", "required" } })
                </div>
            </div>

            <div class="layui-inline">
                <label i18n="Reimbursement.edit.service" class="layui-form-label">發票日</label>
                <div class="layui-input-inline">
                    <input type="text" id="CLIV_Date" name="CLIV_Date" autocomplete="off" class="layui-input" lay-verify="required" placeholder="DD/MM/YYYY" />
                </div>
            </div>
            <div class="layui-inline">
                <label i18n="Reimbursement.edit.invoice" class="layui-form-label">發票金額</label>
                <div class="layui-input-inline">
                    <input type="text" name="CLIV_CHG" lay-verify="required" i18n="public.common.pleaseInput" i18n-only="placeholder" placeholder="please enter" autocomplete="off" class="layui-input">
                </div>
            </div>

        </div>

        <div class="layui-form-item layui-form-text">
            <label i18n="Reimbursement.edit.comments" class="layui-form-label">説明</label>
            <div class="layui-input-block">
                <textarea name="COMMENT" i18n="public.common.pleaseInput" i18n-only="placeholder" placeholder="please enter" autocomplete="off" class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-small" lay-submit lay-filter="btnAdd" i18n="public.common.save">儲存</button>
                <a class="layui-btn layui-btn-small layui-btn-primary " href="../Reimbursement/Index" i18n="public.common.back">返回</a>
            </div>
        </div>
    </form>




</div>
<script src="../Scripts/Reimbursement/Add.js"></script>