@{
    ViewBag.Title = "Add";
    Layout = "/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <span class="layui-breadcrumb">
        <a href="index"><span i18n="Reimbursement.Index.fsaClaims">报销</span></a>
        <a><cite i18n="Reimbursement.Index.Add">新增</cite></a>
    </span>
    <fieldset class="layui-elem-field layui-field-title">
        <legend i18n="Reimbursement.Index.fsaClaims">新增報銷</legend>
    </fieldset>
    <form class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label i18n="Reimbursement.edit.faimily" class="layui-form-label" style="min-width:120px;">家庭成</label>
                <div class="layui-input-inline">
                    @Html.DropDownList("FMFM_DropDownList", ViewData["FMFM_DropDownList"] as SelectList, "請選擇", new Dictionary<string, object>() { { "lay-verify", "required" }, { "lay-filter", "fmfmId" } })
                </div>
            </div>
            <div class="layui-inline">
                <label i18n="Reimbursement.edit.benefit" class="layui-form-label" style="min-width:120px;">福利*</label>
                <div class="layui-input-inline">
                    @Html.DropDownList("EBEB_DropDownList", ViewData["EBEB_DropDownList"] as SelectList, "請選擇福利", new Dictionary<string, object>() { { "lay-verify", "required" } })
                </div>
            </div>
            <div class="layui-inline">
                <label i18n="Reimbursement.edit.type" class="layui-form-label" style="min-width:120px;">發票類型</label>
                <div class="layui-input-inline">
                    @Html.DropDownList("CLIV_DropDownList", ViewData["CLIV_DropDownList"] as SelectList, new Dictionary<string, object>() { { "lay-verify", "required" } })
                </div>
            </div>
            @*<div class="layui-inline">
                <label i18n="Reimbursement.edit.no" class="layui-form-label" style="min-width:120px;">發票號</label>
                <div class="layui-input-inline">
                    <input type="text" name="CLIV_ID" i18n="public.common.pleaseInput" i18n-only="placeholder" placeholder="请输入" lay-verify="required" autocomplete="off" class="layui-input" />
                </div>
            </div>*@
            <div class="layui-inline">
                <label i18n="Reimbursement.edit.service" class="layui-form-label" style="min-width:120px;">發票日</label>
                <div class="layui-input-inline">
                    <input type="text" id="CLIV_Date" name="CLIV_Date" autocomplete="off" class="layui-input" lay-verify="required" placeholder="DD/MM/YYYY" />
                </div>
            </div>
            @*<div class="layui-inline">
                <label i18n="Reimbursement.edit.application" class="layui-form-label" style="min-width:120px;">申請日</label>
                <div class="layui-input-inline">
                    <input type="text" id="Apply_Date" name="Apply_Date" autocomplete="off" class="layui-input" lay-verify="date" placeholder="DD/MM/YYYY" />
                </div>
            </div>
            <div class="layui-inline">
                <label i18n="Reimbursement.edit.apply" class="layui-form-label" style="min-width:120px;">申請金額</label>
                <div class="layui-input-inline">
                    <input type="text" name="APPLY_AMT" lay-verify="required" i18n="public.common.pleaseInput" i18n-only="placeholder" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>*@
            <div class="layui-inline">
                <label i18n="Reimbursement.edit.invoice" class="layui-form-label" style="min-width:120px;">發票金額</label>
                <div class="layui-input-inline">
                    <input type="text" name="CLIV_CHG" lay-verify="required" i18n="public.common.pleaseInput" i18n-only="placeholder" placeholder="请输入" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label i18n="Reimbursement.edit.comments" class="layui-form-label">説明</label>
            <div class="layui-input-block">
                <textarea name="COMMENT" i18n="public.common.pleaseInput" i18n-only="placeholder" placeholder="请输入"autocomplete="off" class="layui-textarea"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="demo1" id="submitId">立即提交</button>
                <a class="layui-btn layui-btn-primary" onclick="window.location.href = 'index'" i18n="public.common.back">返回</a>
            </div>
        </div>
    </form>
</div>
<script src="../Scripts/language/jquery.i18n.min.js"></script>
<script src="../Scripts/language/laodlanguage.js"></script>
<script src="../Scripts/jquery.cookie-1.4.1.min.js"></script>
<script type="text/javascript">
    layui.use(['form', 'layedit', 'laydate','element'], function () {
        var form = layui.form, layer = layui.layer, layedit = layui.layedit, laydate = layui.laydate;
        $("#linkReim").addClass("navbarCheckIn");
        //执行一个laydate实例
        laydate.render({
            elem: '#CLIV_Date', //指定元素
            format:'dd/MM/yyyy'
        });
        
        form.on('submit(demo1)', function (data) {
            $.ajax({
                type: 'POST',
                url: "../Reimbursement/Add",
                data: $(".layui-form").serialize(),
                dataType: "json",
                success: function (data, status) {
                    if (data.Code === 0) {
                        location.href = "../Reimbursement/Index";
                    } else {
                        layer.msg(data.Msg);
                    }
                }
            });
            return false;
        });
    });
    $(function () {
        laodlanguage();
    });

    function returnbackurl() {
        window.location.href = 'index';
    }
</script>
