
@{
    ViewBag.Title = "Upload";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <span class="layui-breadcrumb">
        <a href="index"><span i18n="Reimbursement.Index.fsaClaims">报销</span></a>
        <a><cite i18n="Reimbursement.Upload.imageupload">上传</cite></a>
    </span>
    <fieldset class="layui-elem-field layui-field-title">
        <legend i18n="Reimbursement.Upload.image">發票上傳</legend>
    </fieldset>

    <blockquote class="layui-elem-quote layui-quote-nm"><span i18n ="Reimbursement.Upload.serialnumber">流水號</span>:  @ViewBag.LiuNo</blockquote>

    <div class="layui-upload">
        <button type="button" class="layui-btn" id="selectId" i18n="Reimbursement.Upload.imageselect">多图片選擇</button>&nbsp;&nbsp;&nbsp;&nbsp;
        @{
            var _isDisable = Model.SYSV_CLIV_STS == "00" && Model.SYSV_CLIV_STS == "01"?"": " layui-btn-disabled ";
        }
        <button class="layui-btn layui-btn-normal layui-btn-small @(new HtmlString(_isDisable));" id="UploadId" i18n="Reimbursement.Upload.imageupload">上 傳</button>
        <button class="layui-btn layui-btn-primary layui-btn-small" onclick="window.location.href = 'index'" i18n="public.common.back">返回</button>
        <textarea id="imgPathId" placeholder="" readonly class="layui-textarea"></textarea>
    </div>
    <hr />
    <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
        Preview：
        <div class="layui-upload-list" id="demo2"></div>
    </blockquote>

    <div class="layui-item">
        <div class="layui-inline">
            <label class="layui-label" style="min-width:110px;" i18n="Reimbursement.Upload.lastinvoiceInfo">上次發票信息</label>
            <div class="layui-input-inline">
                <img src="@ViewBag.ImagePath"  style="width:420px;height:250px;padding-left:10px;" />
            </div>
        </div>
    </div>

</div>

<script>
    layui.use(['upload', 'form', 'layer', 'element'], function () {
        var $ = layui.jquery, upload = layui.upload, form = layui.form, layer = layui.layer;

        $("#linkReim").addClass("navbarCheckIn");
        //多图片上传
        upload.render({
            elem: '#selectId'
            , url: '../Reimbursement/UploadImg'
            , multiple: true
            , accept: "images"
            , auto: false
            , data: {"CLIV_KY":@ViewBag.LiuNo}
            , bindAction:"#UploadId"
            , choose: function (obj) {
                var files = obj.pushFile();
                obj.preview(function (index, file, result) {
                    $("#imgPathId").val($("#imgPathId").val() + file.name + ";");
                    $('#demo2').append('<img src="' + result + '" alt="' + file.name + '" style="width:420px;height:250px;padding-left:10px;" class="layui-upload-img">');
                });
            }, done: function (res, index, upload) {
                if (res.result == 0) {
                    layer.msg(res.message);
                } else {
                    layer.msg("文件：" + res.filename + " ---" + res.message);
                }
            }, error: function (index, upload) {
                layer.msg("server error！");
                layer.closeAll('loading');
            }
        });
    });
</script>
