@{
    ViewBag.Title = "Contact";
}

<div class="container tableheight" style="padding-top:50px;">
    <strong style="color:blue">忠意保險有限公司 (香港分行)</strong>
    <address>
        <strong style="color:blue;">網址：</strong><br />
        <strong style="color:blue;">地址：</strong><strong style="color:red;">香港皇后大道東8号忠意保險大廈5樓</strong><br />
        <strong style="color:blue;">電話：</strong><strong style="color:red;">2521 8018</strong>
    </address>
    <address>
        <strong style="color:red;">醫療保險客戶服務熱線</strong><br />
        <strong style="color:blue;">電話：</strong><strong style="color:red;">(852)3187-6831</strong><br />
        <strong style="color:blue;">電郵：</strong><strong style="color:red;">medicalcs@generali.com.hk</strong>
    </address>
</div>
<script type="text/javascript">
    $(function () {
        $("#linkContact").addClass("navbarCheckIn");
    });
</script>