@{
    ViewBag.Title = "Contact";
}

<div class="container tableheight">
    <strong>Website:</strong>
    <address>
        <strong>Address:5/F,Generali Tower,8 Queen's Road East,</strong><br />
        <strong>Wan Chai,Hong Kong<br />P:2521 8018</strong><br />
    </address>
    <address>
        <strong>Medical Insurance Customer Services Hotline</strong><br />
        <strong>P：(852)3187-6831</strong><br />
        <strong>E：medicalcs@generali.com.hk</strong>
    </address>
</div>
<script type="text/javascript">
    $(function () {
        $("#linkContact").addClass("navbarCheckIn");
    });
</script>