@{
    ViewBag.Title = "Contact";
}

<div class="container tableheight">

    <fieldset class="layui-elem-field layui-field-title">
        <legend i18n="footer.menu.contact">聯絡我們</legend>
    </fieldset>

    <ul class="layui-timeline">
        <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
            <div class="layui-timeline-content layui-text">
                <h3 class="layui-timeline-title" i18n="home.contact.title">忠意保險有限公司 (香港分行)</h3>
                <p>
                    <ul>
                        <li i18n="home.contact.Website">網址：www.generali.com.hk</li>
                        <li i18n="home.contact.Address">地址：香港皇后大道東8号忠意保險大廈5樓</li>
                        <li i18n="home.contact.Contact">電話：+852 2521 0707</li>
                        <li i18n="home.contact.Email_1">電郵：Info@generali.com.hk</li>
                    </ul>
                </p>
            </div>
        </li>
        <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
            <div class="layui-timeline-content layui-text">
                <h3 class="layui-timeline-title" i18n="home.contact.Services">醫療保險客戶服務</h3>
                <ul>
                    <li i18n="home.contact.HotlineNo">熱線：+852 3187 6831</li>
                    <li i18n="home.contact.Email_2">電郵：medicalcs@generali.com.hk</li>
                </ul>
            </div>
        </li>
        <li class="layui-timeline-item">
            <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
            <div class="layui-timeline-content layui-text">
                <div class="layui-timeline-title">&nbsp;</div>
            </div>
        </li>

    </ul>
</div>
<script type="text/javascript">
    $(function () {
        $("#linkContact").addClass("navbarCheckIn");

        //if ($.cookie(".ASPXAUTH")) alert($.cookie(".ASPXAUTH"));
        //else alert(".ASPXAUTH读取不了");

    });
</script>
