
.textcenter {
    height: 55px;
    text-align: center;
    color: #C21B17;
    font-size: 20px;
    font-family: Helvetica
}

.textflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textleft {
    text-align: left;
    padding-left: 10px;
    width: 100px;
    float: left;
}

.textright {
    text-align: right;
    padding-right: 10px;
    width: 100px;
    float: right;
}


.selected {
    border-bottom: 2px solid red;
}

.unselected {
    border-bottom: 0;
}

.iconText {
    padding-left: 30px;
    border: none;
    border-bottom: 1px solid #C21B17
}

.textcenter:hover {
    text-decoration: none;
}
.textcenter:visited {
    font-size: 20px;
    color: #C21B17;
    text-decoration: none;
}
.textcenter:link {
    font-size: 20px;
    color: #C21B17;
    text-decoration: none;
} 